body {
    margin: 0;
    min-width: 750px;
}
#logo {
    margin-top: 5px;
}

#schoolHeader1 {
    font-family: DellaRobbia BT;
	font-weight: bold;
	margin-left: 5px;
    font-size: 30px;
	color: rgb(0, 136, 66);
    float: center;
    position: relative;
    top: -25%;
}
#header1 {
	height: 60px;
	width: 100%;
	text-align: center;
	background-color: white;
	position: relative;
}
	
#header2 {
	background-color: rgb(9, 57, 22);
	height: 50px;
	text-align: center;
	position: relative;
}

#schoolHeader2 {
	margin: 50;
	font-family: Montserrat;
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	color: rgb(255,255,255);
}
#mainImg {
    position: relative;
    text-align: center;
    color: white;
}

#logoimg {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: DellaRobbia BT;
	font-weight: bold;
    font-size: 40px;
}

#Img {
    position: relative;
    max-height: 600px;
}

#mainImgText1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: DellaRobbia BT;
	font-weight: bold;
    font-size: 40px;
}

#mainImgText2 {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 20px;
}

#mainImgText3 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 20px;
}

#mainImgText4 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 20px;
}

#header3 {
    text-align: center;
    height: 60px;
    background-color: rgb(234, 163, 33);
    max-height: 60px;
    position:relative;
    top: -5px;
}

#visualArt {
    position: absolute;
}

#visualartimg {
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
}

#visual p, #visual ul{
    line-height: 150%;
}



 /* Style the tab */
 .tab {
    position: relative;
    top: -5px;
    overflow: hidden;
    border: none;
    background-color: rgb(234, 163, 33);
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-family: montserrat;
    font-weight: 700;
    color: rgb(9, 57, 22);
    margin: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f0b03c;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ffffff;
    box-shadow: inset 0 0 5px rgb(112, 112, 112);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffffff;
    border-top: none;
    font-family: montserrat;
    font-weight: 400;
  } 

.wrap {
    float:left;
    width:33%;
    text-align: center;
}

.hello {
    text-align: left;
    font-weight: 300;
}

#Visual {
    text-align: center;
    font-weight: 400;
}

#visual {
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 100px;
}

.explanation {
    text-align: justify;
    text-indent: 20px;
    margin-left: 20px;
    font-weight: 300;
}

.explanation1 {
    text-align: justify;
    text-indent: 0px;
    margin-left: 20px;
    font-weight: 300;
}

.videxplanation {
	color: rgb(0, 0, 0);
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;

}



.videxplanation p{
    text-indent: 20px;
    width: 500px;
    font-weight: 200;
    text-align: justify;
    line-height: 170%;
}

#Performance {
    text-align: center;
    margin-top: 30px;
}

#performance {
    display: inline-block;
    vertical-align: middle;
	color: rgb(255,255,255);
    margin-top: 20px;

}

.hi {
    font-weight: 300;
    text-align: right;
    margin: 0;
}

#Literary {
    margin-top: 0;
    text-align: center;
}

#Literary p {
    line-height: 200%;
    margin-bottom: 50px;
}

.literaryexplain {
    line-height: 90%;
    margin-bottom: 10px;
    font-size: 25px;
}

h2 {
    font-weight: 250;
    font-size: 15px;
    line-height: 90%;
    margin-top: 5px;
    margin-bottom: 50px;
}